/* thai */
@font-face {
	font-family: 'Kanit';
	font-style: normal;
	font-weight: 400;
	src: local('Kanit Regular'), local('Kanit-Regular'), url('../fonts/kanit-regular-th.woff2') format('woff2');
	unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* latin-ext */
@font-face {
	font-family: 'Kanit';
	font-style: normal;
	font-weight: 400;
	src: local('Kanit Regular'), local('Kanit-Regular'), url(../fonts/kanit-regular-latin-ext.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Kanit';
	font-style: normal;
	font-weight: 400;
	src: local('Kanit Regular'), local('Kanit-Regular'), url('../fonts/kanit-regular-latin.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html {
	scroll-behavior: smooth;
	font-size: 100% !important;
}
body {
	font-size: 1em !important;
	font-family: 'kanit', sans-serif;
}
.boe-app-wrapper {
	padding: 0 0 30px 0 !important;
	overflow: hidden;
}
.boe-app-header h3 {
	margin: 10px 0;
	font-size: 1.475em;
	border-bottom: 2px solid #bbb;
}
.boe-app-body {
	margin: 0;
	padding: 10px 0 0 0;
}
#photo-thumb {
	float: left;
	list-style: none;
	margin: 0 4px;
	padding: 0;
}
#photo-thumb>li {
	text-align: center;
	float: left;
	margin-bottom: 8px;
}
#photo-thumb>li img {
	max-width: 150px;
	border: solid 1px rgba(255, 255, 255, 1);
	opacity: .9;
}
#photo-thumb>li img:hover {
	opacity: 1;
}
#photo-thumb:after {
	content: '';
	display: block;
	clear: both !important;
}
.boe-app-icon {
	margin: 5px !important;
}
.boe-app-img {
	display: inline !important;
}
.card-title {
	font-size: 1em !important;
}
.boe-card-title {
	font-size: .875vw !important;
}
.card-text {
	font-size: .875em !important;
}
.main-sidebar {
	position: fixed !important;
}
.big-icon {
	font-size: 24px;
}
a.boe-link {
	color: red !important;
}
